@import 'tailwindcss';

@font-face {
    font-family: 'Urbanist';
    src: url('./assets/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

body {
    font-family: 'Urbanist';
}

@theme {
    /* Theme Colors */
    --color-main-light: #edf3fa;
    --color-main: #dfe5ed;
    --color-main-dark: #caced9;
    --color-main-gray: #758BA5;
    --color-main-gray-dark: #6c8094;
    --color-main-lightblue: #B3D6F9;
    --color-accent-blue: #3684D8;
    --color-accent-deepblue: #223A59;
    --color-text: #031930;

    /* Utility Colors */
    --color-error: #cf0e2b;
    --color-warning: #f0a13a;
    --color-success: #22de0d;
}