@import 'tailwindcss';

@font-face {
    font-family: 'Urbanist';
    src: url('./assets/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 2rem;
    border: 4px solid transparent; 
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

body {
    font-family: 'Urbanist';
}

h2 {
    color: #e7eef5;
}

.animate-spin-delay {
    animation: spin-delay 4s ease-in-out infinite;
}

@theme {
    /* Theme Colors */
    --color-main: #f6fafd;
    --color-main-hover: #e7eef5;
    --color-main-dark: #dbe5ee;
    --color-main-gray: #758BA5;
    --color-main-gray-dark: #6c8094;
    --color-main-lightblue: #B3D6F9;
    --color-accent-blue: #3684D8;
    --color-accent-deepblue: #223A59;
    --color-text: #031930;
    --color-border: #a7a9b3;

    /* Utility Colors */
    --color-urgent: #e05944;
    --color-urgent-light: #fbefee;
    --color-resolved: #067886;
    --color-resolved-light: #d0f9ee;


    /* Animations */
    @keyframes spin-delay {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}